body {
    background-color: yellowgreen;
}

h1 {
    color: #046d04;
    text-align: center;
}
.header {
    text-align: center;
    background: #ffffff;
    color: #25a508;
    font-size: 30px;
    padding: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image {
    padding-top: 20px;
    padding-bottom: 20px;
}

