body {
    background-color: yellowgreen;
}

h1 {
    color: #046d04;
    text-align: center;
}
.header {
    text-align: center;
    background: #ffffff;
    color: #25a508;
    font-size: 30px;
    padding: 40px;
    box-shadow: 10px 10px darkgreen;
    width: 90%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

.image {
    padding-top: 20px;
    padding-bottom: 20px;
}
.Quote {
    text-align: center;
    background: #ffffff;
    color: #25a508;
    font-size: 15px;
    padding: 20px;
    box-shadow: 10px 10px darkgreen;
    width: 90%;

}
